@import url('https://fonts.googleapis.com/css?family=Kanit:800|Source+Sans+Pro&display=swap');

/* setup variables*/
:root {
    --bg-color: #D4EFFC;
    --primary-color: black;
    --secondary-color: #D71635;
    --tertiary-color: #005F2A;
    --fourth-color: #D8D8D8;
    --primary-font: 'Kanit', sans-serif;
    --secondary-font: 'Arial', sans-serif;
    --animation-text-block: fadeUp 2s ease-in-out 0.2s 1 normal forwards;
    --line-height: 2rem;
}

/*set border box*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}

/* set body font */
body {
    font-family: var(--secondary-font);
    background: var(--bg-color);
    max-width: 1300px;
    margin: auto;
}

/* set image max width*/
img {
    max-width: 100%;
}

/* setup grid on wrapper */
.wrapper {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: auto;
}

/* h1 styling */
h1 {
    font-family: var(--primary-font);
    text-transform: uppercase;
}

/* styling of posts from backend */
#posts {
    grid-column: 2;
    grid-row: 2;
}

/*article styling */
article {
    background: yellow;
    margin: 2rem;
    padding: 2rem;
}

.article_header {
    background: red;
    position: relative;
    text-align: center;
}

.article_header > a {
    position: absolute;
    color: white;
    width: 100%;
    padding: 1rem;
    bottom: 0;
    background: green;
/*    z-index: 1;*/
    animation: fadeUp 2s;
}

article > .body_date {
    display: flex;
    justify-content: flex-end;
}

article > .body_time {
    display: flex;
    justify-content: flex-end;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
/*        transform: translateY(30%);*/
    }

    100% {
        opacity: 100%;
/*        transform: translateY(0%);*/
    }
}

/*
.article_header > .cover {
    filter: grayscale(100%);
    z-index: -1;
}
*/

.page_header {
    grid-column: 2/3;
    font-size: 50px;
    margin: auto;
}

footer {
    background: var(--fourth-color);
    color: white;
    padding: 3rem;
    grid-column: 1/4;
    grid-row: 3;
}
