@import url('https://fonts.googleapis.com/css?family=Kanit:800|Source+Sans+Pro&display=swap');

/* setup variables*/
:root {
    --bg-color: #D4EFFC;
    --primary-color: black;
    --secondary-color: #D71635;
    --tertiary-color: #005F2A;
    --fourth-color: #D8D8D8;
    --primary-font: 'Kanit', sans-serif;
    --secondary-font: 'Arial', sans-serif;
    --animation-text-block: fadeUp 0.3s ease forwards;
    --line-height: 2rem;
}

/* set border box*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}

/* set body font */
body {
    font-family: var(--secondary-font);
    background: var(--bg-color);
    max-width: 1300px;
    margin: auto;
}

/* set image max width*/
img {
    max-width: 100%;
}

nav {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 1rem;
}

nav a {
    font-family: var(--primary-font);
    text-transform: uppercase;
    background-color: yellow;
    padding: 0.3rem;
    margin: 0.3rem;
}

/* setup grid on wrapper */
.wrapper {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: auto;
    text-align: center;
}

/* h1 styling */
h1 {
    font-family: var(--primary-font);
    text-transform: uppercase;
}

h2 {
    font-family: var(--secondary-font);
    text-transform: uppercase;
}

/* styling of posts from backend */
#posts {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/*article styling */
article {
    display: flex;
    flex-flow: column;
    background: yellow;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.article_header {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.article_header:hover a {
    bottom: 0;
    height: 100%;
    animation: var(--animation-text-block);
}

.article_header > a {
    position: absolute;
    color: white;
    bottom: 100%;
    right: 0;
    width: 100%;
    padding: 2rem;
    background: black;
    z-index: 1;
}

.vegan_meal {
    background-color: green;
}

article > .body_date {
    display: flex;
    justify-content: flex-end;
}

article > .body_time {
    display: flex;
    justify-content: flex-end;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 100%;
        transform: translateY(0%);
    }
}

.img_container {
    height: 200px;
    width: 100%;
    background: red;
    background-size: cover;
    /*    filter: grayscale(100%);*/
    z-index: -1;
}

.page_header {
    grid-column: 2/3;
}

footer {
    background: var(--fourth-color);
    color: white;
    padding: 3rem;
    grid-column: 1/4;
    grid-row: 3;
}
